/*global*/

:root {
    /*color*/
--color-white:#ffffff;
--color-mint:#b2ebf2;
--color-mint-light:#e5ffff;
--color-mint-dark:#81b9bf;
--color-black:#0b0b0c;
--color-gray:#e1e2e1;
--color-gray-light:#f5f5f6;

     /*font*/
     --font-large:48px;
     --font-medium:28px;
     --font-regular:18px;
     --font-small:16px;
     --font-micro:14px;

      /*font-weight*/
      --weight-bold:700;
      --weight-semi-bold:600;
      --weight-regular:400;

       /*size*/
       --size-border-radius:4px;

       /*Annimation */
       --animation-duration: 300ms;

}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Universal tags*/
*{
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: 'GmarketSansMedium';
    cursor: default;
 
}
a{
    text-decoration: none;
    color: var(--color-black);
}
ul{
    list-style: none;
    padding-left: 0;
}
/*Typography*/
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin:16px 0px;
}

h2{
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
}

/*NavBar*/

#navbar {
    display: flex;
    justify-content: space-between;
    /* background-color: var(--color-mint-dark); */
    background: #eeeeff;
    align-items: center;
    /* color: var(--color--white); */
    /* color: #FFFFFF; */
    color: #0b0b0c;
    padding: 16px;
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    /* border-radius: var(--size-border-radius); */
    border-radius:4px;
}
.navbar__menu__item.active {
    /* border: 1px solid var(--color--white); */
    border:1px solid #FFFFFF;
}
.navbar__menu__item:hover{
    /* background-color: var(--color--white);
    border-radius: var(--size-border-radius); */
    background-color: #e1e2e1;
    border-radius: 4px;
    color: #0b0b0c;

}

/*Home*/
#home{
    /* background: url('imgs/main.png') center/cover no-repeat; */
    background-color: #eeeeff;
    padding: 40px;
    text-align: center;

}

.home__avatar{
    width: 250px;
    height: 280px;
    border-radius: 50%;
    border: 4px solid transparent;
    /* background:linear-gradient(to right,#8238cd,#7a37ca,#6633c1,#5032b6,#3830a9,#272ea2); */
    background-color: #6633c1;
}
.home__title,
.home__description{
    background:linear-gradient(to right,#8238cd,#7a37ca,#6633c1,#5032b6,#3830a9,#272ea2);
    color: transparent;
    -webkit-background-clip: text;
}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
.home__contact{
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: #6633c1;
    margin:16px 0px;
    border: 2px solid #6633c1;
    border-radius: 4px;
}

/*Section common*/
.section{
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

/*About*/
#about{
    color: #0b0b0c;
}
.about__majors{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}
.major__icon{
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    color:#272ea2;
    border:1px solid #272ea2;
    border-radius: 50%;
    margin-bottom: 16px;
    margin: auto;
}
.major__icon i {
    transition: all var(--animation-duration) ease;
}
.major__icon:hover i{
    color: #7a37ca;
    transform: rotate(-30deg) scale(1.1);
}
.major__title, .major__description{
    margin-top: 10px;
    color: var(--color-black);
}

.major__description {
    font-size: var(--font-small);
}

.edu{
    display: flex;
    align-items: center;
}

.edu__description{
    margin: 0 16px;
    text-align: center;
}
.edu__logo{
    width: 100px;
    height: 100px;
}
/* .edu__logo .uni{
    width: 50px;
    height: 50px;
}
.edu__logo .elice{
    width: 60;
    height: 30px;
} */
.edu__name,
.edu__period{
    color: var(--color-black);
}
.edu__name {
    font-size: var(--font-small);
}
.edu__period{
    font-size: var(--font-micro);
}